body
{
    margin: 0;
    padding: 0;
}

.hero-div
{
    /* background-image: linear-gradient(#4500ca 4%,rgba(69,0,202,0) 50%),url("../banner/banner-2.jpg"),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%); */
    background-image: url("../banner/banner-6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    max-width: 100%;
}

@media only screen and (max-width: 786px) {
    .hero-div
{
    /* background-image: linear-gradient(#4500ca 4%,rgba(69,0,202,0) 50%),url("../banner/banner-2.jpg"),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%); */
    background-image: url("../banner/banner-6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    max-width: 100%;
}

h1.logo {
    color: #fff;
    padding-top: 25px;
    font-size: 16px;
    text-align: left;
}
}

@media only screen and(max-width:786px) {
   
}

h1.logo {
    color: #fff;
    padding-top: 85px;
    font-size: 4rem;
    text-align: left;
}

h2 {
    color: #511048;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.message-box {
    /* background-color: #091a29; */
    background-color: #08070d;
    padding-bottom: 30px;
    text-align: center;
}

.message-box p {
    color: #fff;
    font-size: 20px;
}

.message-box p.welcome-txt {
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
}

.message-box h3 a {
    text-decoration: underline;
    cursor: auto;
}

.button.primary-button {
    background: -webkit-linear-gradient(330deg,rgba(143,66,236,0) 0%,#812bea 100%);
    background: linear-gradient(120deg,rgba(10,79,83,0) 0%,#812bea 100%);
    background-color: #54124d;
}

.button.primary-button {
    font-size: 15px;
    padding: 12px 32px;
}

.button {
    /* display: -webkit-box; */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}

.button {
    width: 350px;
    height: 60px;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    color: #fff!important;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px;
    padding: 8px 20px;
    -webkit-box-pack: center;
    justify-content: center;
    align-self: flex-start;
    border: none;
    margin-bottom: 16px;
    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
    transition: 300ms all cubic-bezier(.4,0,.2,1);
}


